.hire_btn {
    background: #fff;
    color: #0e1b31;
}

.hire_btn a {
    text-decoration: none;
    font-weight: 500;
}

.hire_btn:hover a {
    color: #0e1b31;
}

.hero_title span {
    color: #7865ff;
}

.hero_title {
    font-weight: 600;
}

.hero_img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: #7865ff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_img img {
    width: 200px;
    height: 300px;
}

.hero_section{
    padding-top: 150px; 
}

.hero_content p{
    line-height: 30px;
    font-weight: 300;
}